/* ========== TYPOGRAPHY ========== */

/* ========== VARIABLES ========== */
:root {
  --spacing: 0.5em;
  --spacing-lg: 1em;
  --color-main: rgb(230, 10, 21);
  --color-dark: hsl(357, 84%, 41%);
  --logo-height: 1.5rem;
}

/* ========== RESET ========== */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

/* ========== LAYOUT ========== */
.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
