/* detail 페이지 파란 부분 */
.container__cast {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border-top: 2px solid white;
  padding-top: 15px;
}

.movie_detail__cast {
  text-align: center;
  margin: 5px;
}
.movie_detail__cast img {
  border-radius: 10px;
  float: left;
}

.container__detail {
  display: grid;
  grid-template-areas:
    "poster title"
    "poster synop"
    "poster release-date"
    "poster none";
}
