/* detail 페이지 파란 부분 */
.container__cast {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border-top: 2px solid white;
  padding-top: 15px;
}

.movie_detail__cast {
  text-align: center;
  margin: 5px;
}
.movie_detail__cast img {
  border-radius: 10px;
  float: left;
}

.container__detail {
  display: grid;
  grid-template-columns: 1fr 2fr;

  padding-top: 20px;
}

.detail__title {
  font-size: xx-large;
}

.movie_detail__detail {
  /* grid-template-rows: 1fr 2fr 1fr; */
  /* display: grid;
  padding: 10px;
  margin: 10px;
  font-size: larger; */
}

.movie_detail__detail * {
  padding-bottom: 30px;
  padding-left: 15px;
}
